#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-location h2, h1, h3{
  padding: 0;
  margin: 0;
}

#current-temp {
  font-size: 2em;
  font-weight: bold;
}

.weather-forcast {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.weather-forcast h4 {
  position: relative;
  left: 1px;
  width: 15%;
  /* background-color: aliceblue; */
  border-bottom: #ccc 1px solid;
  border-top: #ccc 1px solid;
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; */
}

.day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.5em;
  font-weight: bold;
  border: 1px solid #ccc;
  /* 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

