#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole-page {
  display: flex;
  flex-direction: row;
  background-color: azure;
  justify-content: center;

}

.left-side {
  background-color: bisque;
  width: 20%;
}

.right-side {
  background-color: burlywood;
  width: 80%;
}